include head
body
  .wrap
    .content
      include header/header
      .container
        .row
          .col.col-md-12
            h2.panel-title #{goods[0].name}
          .col.col-md-4
            img.goods-big-image(src=`images/${goods[0].image}`)
          .col.col-md-8
            p #{goods[0].description}
            span.success Цена: #{goods[0].cost.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} uah
            button(class='button-success add-to-cart' data-goods-id=goods[0].id) to cart
